/bin/disassemble_tape
/bin/macro1_1
/bin/mkptyfio_telnet
/bin/monas
/bin/p7sim
/bin/p7simES
/bin/panel_pidp1
/bin/vpanel_pdp1
/bin/pdp1
/bin/pdp1_periphES
/bin/pdp1_usb_monitor
/bin/pidp1_test
/bin/scanpf
/bin/tapevis
