# This file sets startup defaults for various configurable features.
# Comment lines like this and empty lines are ignored.
# Otherwise, lines of the form 'option=value' are recognized.
# Spaces are ignored.
# For options that are on or off, 'y', 'yes', 'on' all mean enabled,
# any other value means off.

# If on, then the pidp-1 emulator state is kept in shared memory
# instead of local memory.
# This only needs to be enabled if other programs need to access the pidp1 state.
shared=false

# Enable/disable various PDP-1D extensions
# lai and lia are available in the main branch pidp1 if compiled in.
# Here they are controlled by this setting.
# This also enables lsw/swp, since those are just an or of lai and lia.
lailia=on

# Enable the PDP-1D extensions, lai, lia, sni, szi, cmi, lsw/swp, but not the extended-extended ones.
# Enabling this DOES enable lailia even if they are disabled above.
# Disabling this does NOT disable lailia if enabled above.
core1D=on

# Enable all PDP-1D extensions including lai, lia, sni, szi, cmi, lsw/swp, scf, sci, iif, ifi, and ida.
# Enabling this DOES enable lailia and core1D even if disabled above
# Disabling this does NOT disable lailia or core1D if they are enabled above.
all1D=on

# Enable/disable various features.
muldiv=on
# This is the 16 channel break system.
sbs16=off

# sdb and dpyshift can conflict.
# sdb is an extended version of dpy used by the Type 33 Symbol Generator.
# dpyshift is an extended version of dpy that allows origin-shifting, implemented by sonme PDP-1's.
# If both are on, an attempt is made to distinguish between them, but it's possible the wrong
# choice will be made.
# If so, sdb will be done, then dpyshift.
# This will make any symbol generator chars positioned incorrectly.
# If you get strange behavior, turn one off, preferably dpyshift.
sdb=on
dpyshift=off

# Enable lightpen support in pidp1.
lightpen=on

# The gui and Type 30 of course need to be able to find the config tile for these to work.
# If running on a remote system, copy the config file to /opt/pidp1-mods on that system,
# or use the command line flags if available.

# The unified control gui checks this.
guilightpen=yes

# The standalone type 30 display checks this.
type30lightpen=yes
# The default size is 1024, change to what you want, also via command line -s size.
type30size=1024
# The default is yes, also via sommand line -n, for no border.
type30border=yes

# An aperture of 22 corresponds to a physical aperture of 0.200 inches.
aperture=22

# The following control the audio subsystem.
# These values give excellent results.
# It is important to read the UsingAudio.md document in Docs before changing values!!!
# alpha sets the frequency response of all 4 digital filters the same.
# It controls the -6db cutoff frequency point for the low pass filters.
# The value ranges from 0.0 to 1.0; 0.0 means zero frequency, not useful. 1.0 and greater is infinite frequency,
# effectively no filtering.
# gain sets the 4 channel mixer gain, caution, too high and clipping will occur.
# tuning shifts the frequency, but is not implemented until SDL3 is available.
audio=off
alpha=0.20
gain=0.95
tuning=1.0
# samplerate sets how often audio is sent to SDL in rate samples per second.
# However, the 5 usec cycle time of the emulator is the controlling factor, the rate will have a 5 used
# granularity.
# The sample rate also directly affects the frequency response of the filters, adjust both as needed.
samplerate=22000

# Each channel's alpha can also be set separately.
# The alphas correspond to a cutoff of 4Khz for pf1, 3Knz for pf2, and 2Khz for pf3 and 4.
# Probably not enoufh filtering, easier to try different setting using the pidpaudio app.
#alpha1=0.687
#alpha2=0.625
#alpha3=0.524
#alpha4=0.524

# Settings for the IOT 45 line printer
# The line printer type defaults to Type 62
lptType64=false
# Set the number of lines the spacing field advances for setting 0-7.
# A setting of 0 means overstrike, -1 means form feed.
# Note that the Type 62 does overstrikes differently, so setting it here isn't necessary.
# This if for the Type 62.
# For the 64, typical would be 0,1,2,3,11,22,33,44,-1
lptLineSpacing=1,2,3,4,11,22,33,-1
# Set the lines per page.
# The default is 66 lines per page.
# This affects the delay time when a form feed is requested.
lptLines=66
# Normally, a form feed puts a form feed character in the file.
# If this is on, the necessary number of newlines is used instead.
lptNoFF=yes
