# This file sets startup defaults for various configurable features.
# Comment lines like this and empty lines are ignored.
# Otherwise, lines of the form 'option=value' are recognized.
# Spaces are ignored.
# For options that are on or off, 'y', 'yes', 'on' all mean enabled,
# any other value means off.

# These 2 control the lightpen in pidp1.
lightpen=on
aperture=5

# initially enable/diable mul/div in pidp1.
muldiv=on

# The unified control gui checks this
guilightpen=yes
# The standalone type 30 display checks this
type30lightpen=yes

# The following control the audio subsystem.
# alpha sets the frequency response of all 4 digital filters the same.
# It controls the -6db cutoff frequency point for the low pass filters
# The value ranges from 0.0 to 1.0; 0.0 means zero frequency, not useful. 1.0 is infinite frequency,
# effectively no filtering.
# gain sets the 4 channel mixer gain, caution, too high and clipping will occur.
# tuning shifts the frequency, but is not implemented until SDL3 is available.
audio=off
alpha=0.10
gain=1.5
tuning=0.0
# samplerate sets how often audio is sent to SDL in 1/rate seconds, or 1000000/rate microseconds
# The original music software updated every 175 us, 1000000/5714 is that.
samplerate=5714

# The alpha for each channel can be controlled separately.
# The hardware version at CHM sets 1 and 2 high, 3 mid, and 4 low.
alpha1=0.10
alpha2=0.10
alpha3=0.10
alpha4=0.10

# sdb is an extended version of dpy used by the Type 33 Symbol Generator.
# dpyshift is an extended version of dpy that allows origin-shifting, implemented by sonme PDP-1's.
# They conflict. If both are on, sdb takes priority.
sdb=on
dpyshift=off
