# This allows overriding various parameters for the t30dpy display.
# It is NOT installed by default, copy and edit it.
# It is searched for in the user home directory, ~/.t3odpy.config, then in /opt/pidp1-mods/t30dpy.config and
# takes precedence over the builtin values.
# However, command line overrides take precedence over this for settings that have command line settings.
# The example values below are the builtin values.
# Logical values such as vsync can be 'true' or begin with 'y', anything else is false.

# Set the hostname to use, overriden by the command line
host=localhost
# Set the port to use, overidden by the command line
port=3400

# Ask SDL to use vsync, it might or might not.
# If supported, it can reduce tearing of large rectangles that are rendered at hight speed, such as those
# produced by the Type 340 vector display.
vsync=no
# Ask SDL to use linear scaling, it might or might not.
# It can significantly improve scaling artifacts introduced by SDL, but it depends upon the underlying
# graphics processor and SDL's implementation (or not) of support fot it.
# It can impact processor load, again depending upon SDL.
linear=no

# The eye does not respond linearly to intensity.
# This adjusts the intensity to correct for that.
# Smaller values boost lower intensities, larger values decrease lower intensites.
# Values greater than 1.0 will completely suppress low intensities and reduce high intensities, not useful
# The default value of 0.4545 is the standard correction factor but can make the final tailoff of intensity
# last too long. You might find a value close to 1.0, such as 0.6, more to your taste, experiment.
# Also, monitors might do gamma correction thenselves, so this value might need changing depending upon the monitor.
gamma=0.4545

# Since the p7 phosphor is a dual phosphor with both a fast blue component and a yellow-green slow component,
# even the initial dot is mostly white, only slightly blue.
# The alpha blending algorithm overemphasizes the blue phosphor in the first frame because it has maximum
# alpha which means opaque so none of the secondary phosphor is blended.
# This adds the bias to the r and g components of the blue phosphor making it whiter, but only for the
# first frame for a point.
# Decreasing it makes the initial display more blue, increasing it, more white.
# A value of 0 will give a very noticable blue dot, 255 a pure white dot.
whitebias=180

# The displayed dots decay in intensity over time following, at least for the secondary phosphor, the
# correct power-law decay rate specified for the P7 phosphor that was used.
# However, a power-law decay theoretically never reaches 0.
# T30dpy uses integer values for intensity ranging from 0-255.
# In order to prevent very small values, a cutoff is used.
# If the intensity value falls below the cutoff, the intensity is considered to be zero and the point
# is no longer displayed.
# This directly affects how long the secondary fadeout lasts, higher values shorten the fadeout.
# Too high a value leads to an abrupt cutoff of the tail.
# The gamma setting also affects the visibility, so there is some interactiion.
cutoff=5

# Read the documentation for this one.
mikecmode=false
