[Desktop Entry]
Name=-Load Paper Tape Reader
Comment=PTR for PiDP-1
Exec=/usr/bin/lxterminal -e "/opt/pidp1/bin/load_ptr.sh"
Terminal=false
Type=Application
Icon=/opt/pidp1/install/ptr-icon.svg
Categories=X-PDP1;
StartupNotify=false
