[Desktop Entry]
Name=Typewriter
Comment=Typewriter for PiDP-1
Exec=lxterminal -e "/opt/pidp1/bin/load_ptr.sh"
Terminal=false
Type=Application
Icon=/opt/pidp1/install/soroban-icon2.svg
Categories=X-PDP1;
StartupNotify=false
